<div class="container text-center">
  <h1>Test App</h1>
  <p>Find the best</p>
  <p>
    <strong><%= 2 + 2 %> new products</strong> on <%= @today %>
  </p>
  <%= link_to "All products", products_path, class: "btn btn-success" %>
</div>
